<div class="card text-center  card-tiles " *ngIf=favoriteSongResponse>
    <div class="card-body">
        <div class="d-flex flex-row bd-highlight ">
            <img [src]=favoriteSongResponse.image class="img-fluid" alt="">
            <div class="d-flex flex-column bd-highlight ">
                <h4 class="px-2">Most Listened To Song</h4>
                <p id="song-title">{{favoriteSongResponse.name}}</p>
                <p id="song-album">{{favoriteSongResponse.album}}</p>
            </div>

        </div>
    </div>
</div>