<!-- <p>dashboard works!</p>
<button (click)="logout()">Logout</button> -->
<app-navbar></app-navbar>

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="d-flex justify-content-around">

                <app-last-year></app-last-year>
                <app-this-month></app-this-month>
                <app-this-year></app-this-year>

            </div>

        </div>
        <div class="col-md-3  p-0">
            <app-total-songs></app-total-songs>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-9">
            <app-bar-graph></app-bar-graph>

        </div>
        <div class="col-md-3 right-panel">

        </div>
    </div>
</div>