<!-- <p>dashboard works!</p>
<button (click)="logout()">Logout</button> -->
<app-navbar></app-navbar>

<div class="container  mt-3 mb-0">
    <div class="row no-gutters  ">
        <div class="col-md-4  p-0tiles-row ">
            <app-last-year></app-last-year>
        </div>
        <div class="col-md-4  p-0tiles-row ">
            <app-this-year></app-this-year>
        </div>
        <div class="col-md-4  p-0tiles-row ">
            <app-this-month></app-this-month>
        </div>

    </div>
</div>
<div class="container  mt-2">
    <div class="row no-gutters  mt-0">
        <div class="col-md-4  p-0tiles-row ">
            <app-genre></app-genre>
        </div>
        <div class="col-md-4  p-0tiles-row ">
            <app-total-songs></app-total-songs>
        </div>
        <div class="col-md-4  p-0tiles-row ">
            <app-artist></app-artist>


        </div>

    </div>
</div>

<div class="container mt-5">
    <!-- <div class="row">
        <div class="col-md-6 px-0" id="bar-graph">
            <app-bar-graph></app-bar-graph>
        </div>

        <div class="col-md-6 list pr-0">
            <div class="d-flex flex-row bd-highlight justify-content-center list-flex-row">
                <app-artist-following class="mr-auto components"></app-artist-following>
                <app-top-songs class="components"></app-top-songs>



            </div>
            <div class="d-flex flex-row bd-highlight justify-content-center mt-3 list-flex-row-2">

                <app-top-artist class="mr-auto"></app-top-artist>
                <app-top-artist class="mr-auto"></app-top-artist>


            </div>
        </div>
    </div> -->

    <div class="row">
        <div class="col-md-6 px-0" id="bar-graph">
            <app-bar-graph></app-bar-graph>
        </div>

        <div class="col-md-6" id="list-section">
            <div class="row">
                <div class="col-md-6 list-columns" id="test">
                    <app-artist-following class=" components"></app-artist-following>
                </div>
                <div class="col-md-6 list-columns">
                    <app-top-songs class="components"></app-top-songs>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 list-columns">
                    <app-top-artist class="mr-auto components"></app-top-artist>
                </div>
                <div class="col-md-6 list-columns">
                    <app-playlist class=" components"></app-playlist>
                </div>
            </div>
        </div>

    </div>



</div>