#bar-graph {
    // border: 1px solid red;
    height: 450px;
    background-color: #041d39;
}


#list-section {
    border: 1px solid red;

    // .col-md-6  {
    //     background-color: #041d39;
    //     overflow: scroll
    // }

    .row {
        border: 2px solid blue;
        min-height: 50%;
        max-height: 50% !important;
        // overflow: scroll;
        

  
        
    }
}


.list-columns {
    // color: yellow;
    max-height: 220px   ;
    overflow: scroll;
    padding: 0;
}

