<div class="card text-center list-components ">
    <div class="card-body p-0">
        <h5>Artist Following</h5>
        <ul class="playlist">


            <li>
                <div class="d-flex flex-row bd-highlight mb-1 ">
                    <img src="https://i.scdn.co/image/fd99cc73fe8aaaca0035ae51a8637c8d19bf8ee3" class="img-fluid" alt=""
                        id="artist-image">

                    <div class="text-center">
                        <p class="ml-2 font-weight-bold ">Bishars</p>
                    </div>
                    <div class="text-center ml-auto mr-2">
                        <p class="mb-0">26758</p>
                        <p>Followers</p>
                        <!-- <p class="ml-auto text-end">26758 Followerssdfsdfs</p> -->
                    </div>
                    <!-- <h5 class="ml-2 font-weight-bold mr-4">Orishas</h5> -->

                </div>
            </li>
            <li>
                <div class="d-flex flex-row bd-highlight  ">
                    <img src="https://i.scdn.co/image/916f93764f7eb0844265843df1c7632d25df4c41" class="img-fluid" alt=""
                        id="artist-image">

                    <div class="text-center">
                        <p class="ml-2 font-weight-bold ">Cage The Elephant</p>
                    </div>
                    <div class="text-center ml-auto mr-2">
                        <p class="mb-0">1876294</p>
                        <p>Followers</p>
                        <!-- <p class="ml-auto text-end">26758 Followerssdfsdfs</p> -->
                    </div>
                    <!-- <h5 class="ml-2 font-weight-bold mr-4">Orishas</h5> -->

                </div>
            </li>
            <li>
                <div class="d-flex flex-row bd-highlight  ">
                    <img src="https://i.scdn.co/image/ab67616d0000485155606dc57c1ad14f9a507744" class="img-fluid" alt=""
                        id="artist-image">

                    <div class="text-center">
                        <p class="ml-2 font-weight-bold ">Studying Music</p>
                    </div>
                    <div class="text-center ml-auto mr-2">
                        <p class="mb-0">26758</p>
                        <p>Followers</p>
                        <!-- <p class="ml-auto text-end">26758 Followerssdfsdfs</p> -->
                    </div>
                    <!-- <h5 class="ml-2 font-weight-bold mr-4">Orishas</h5> -->

                </div>
            </li>
            <li>
                <div class="d-flex flex-row bd-highlight  ">
                    <img src="https://i.scdn.co/image/fd99cc73fe8aaaca0035ae51a8637c8d19bf8ee3" class="img-fluid" alt=""
                        id="artist-image">

                    <div class="text-center">
                        <p class="ml-2 font-weight-bold ">Bishars</p>
                    </div>
                    <div class="text-center ml-auto mr-2">
                        <p class="mb-0">26758</p>
                        <p>Followers</p>
                        <!-- <p class="ml-auto text-end">26758 Followerssdfsdfs</p> -->
                    </div>
                    <!-- <h5 class="ml-2 font-weight-bold mr-4">Orishas</h5> -->

                </div>
            </li>




        </ul>
    </div>
</div>