.playlist {
    list-style: none;
    padding-left: 0;;
}

.card  {
    overflow-y: scroll;
}

#artist-image {
    height: 61px;;
}

p {
    font-size: 13px;
}


// HIDES THE SCROLL BAR
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

// HIDES THE SCROLL BAR
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}