

.welcome-bg-image {
    background: url(./assets/welcome-page/bg-3.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  } 
  
  
  .redirect-page {
    background-color:rgb(231, 231, 231);
  }
  
  .login-bg-image {
    background: url(./assets/welcome-page/bg-2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  } 
  