<div class="card text-center list-components ">
    <div class="card-body p-0">
        <h5 class="list-titles">Most Played Songs</h5>
        <ul class="playlist">


            <li>
                <div class="d-flex flex-row bd-highlight mb-1 ">
                    <img src="https://i.scdn.co/image/ab67616d000048513616f5d3c8e4e13081d14bde" class="img-fluid" alt=""
                        id="artist-image">

                    <div class="text-center">
                        <p class="ml-2 font-weight-light song-title">Nunca Es Suficiente</p>
                    </div>
                    <div class="text-center ml-auto mr-2">
                        <p class="mb-0" class="duration">2:10</p>

                        <!-- <p class="ml-auto text-end">26758 Followerssdfsdfs</p> -->
                    </div>
                    <!-- <h5 class="ml-2 font-weight-bold mr-4">Orishas</h5> -->

                </div>
            </li>
            <li>
                <div class="d-flex flex-row bd-highlight mb-1 ">
                    <img src="https://i.scdn.co/image/ab67616d000048513616f5d3c8e4e13081d14bde" class="img-fluid" alt=""
                        id="artist-image">

                    <div class="text-center">
                        <p class="ml-2 font-weight-light song-title">Nunca Es Suficiente</p>
                    </div>
                    <div class="text-center ml-auto mr-2">
                        <p class="mb-0" class="duration">2:10</p>

                        <!-- <p class="ml-auto text-end">26758 Followerssdfsdfs</p> -->
                    </div>
                    <!-- <h5 class="ml-2 font-weight-bold mr-4">Orishas</h5> -->

                </div>
            </li>
            <li>
                <div class="d-flex flex-row bd-highlight mb-1 ">
                    <img src="https://i.scdn.co/image/ab67616d000048513616f5d3c8e4e13081d14bde" class="img-fluid" alt=""
                        id="artist-image">

                    <div class="text-center">
                        <p class="ml-2 font-weight-light song-title">Nunca Es Suficiente</p>
                    </div>
                    <div class="text-center ml-auto mr-2">
                        <p class="mb-0" class="duration">2:10</p>

                        <!-- <p class="ml-auto text-end">26758 Followerssdfsdfs</p> -->
                    </div>
                    <!-- <h5 class="ml-2 font-weight-bold mr-4">Orishas</h5> -->

                </div>
            </li>
            <li>
                <div class="d-flex flex-row bd-highlight mb-1 ">
                    <img src="https://i.scdn.co/image/ab67616d000048513616f5d3c8e4e13081d14bde" class="img-fluid" alt=""
                        id="artist-image">

                    <div class="text-center">
                        <p class="ml-2 font-weight-light song-title">Nunca Es Suficiente</p>
                    </div>
                    <div class="text-center ml-auto mr-2">
                        <p class="mb-0" class="duration">2:10</p>

                        <!-- <p class="ml-auto text-end">26758 Followerssdfsdfs</p> -->
                    </div>
                    <!-- <h5 class="ml-2 font-weight-bold mr-4">Orishas</h5> -->

                </div>
            </li>
            <li>
                <div class="d-flex flex-row bd-highlight mb-1 ">
                    <img src="https://i.scdn.co/image/ab67616d000048513616f5d3c8e4e13081d14bde" class="img-fluid" alt=""
                        id="artist-image">

                    <div class="text-center">
                        <p class="ml-2 font-weight-light song-title">Nunca Es Suficiente</p>
                    </div>
                    <div class="text-center ml-auto mr-2">
                        <p class="mb-0" class="duration">2:10</p>

                        <!-- <p class="ml-auto text-end">26758 Followerssdfsdfs</p> -->
                    </div>
                    <!-- <h5 class="ml-2 font-weight-bold mr-4">Orishas</h5> -->

                </div>
            </li>






        </ul>
    </div>
</div>